:root {
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 1em;
}

hr {
  width: 100%;
}

.dragging,
.dragging * {
  visibility: hidden;
}

.focus,
.focus * {
  background-color: lightgreen;
}
.focus img {
  filter: opacity(50%);
}
